/*common css*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*header section css*/
.header-section {
  background-image: url('../images/banner/banner1.png');
  width: 100%px;
  height: 700px;
  /* text-align: center;
  align-items: center; */
}

.header-con {
  text-align: center;
  padding-top: 216px;
  padding-right: 150px;
}

.header-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}

.header-descreption {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.header-btn {
  text-align: right;
}

.header-btn button {
  background: #F15B22;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 32px;
}

/*about part css*/
.about-part {
  display: flex;
  gap: 134px;
}

.about-con {
  padding-top: 300px;
}

.about-heading {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.about-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 17px;
}

.about-list li {
  list-style: none;
}

.about-list li i {
  color: #16D887;
  padding: 5px;
}

/*my plan section css*/
.my-plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 55px;
}

.my-plan-con {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 0 40px 0 30px;
}

.my-plan-icon-title {
  color: #151414;
  /* text-align: center; */
  font-size: 30px;
  font-weight: 700;
}

.my-con-icon-sub-title {
  color: #737272;
  /* text-align: center; */
  font-size: 25px;
  font-weight: 500;
}

/*call now section css*/
.call-naw-part {
  background-image: url('../images/watch.png');
  height: 300px;
  margin: 130px 230px 130px 230px;
  border-radius: 8px;
  border: none;
  /* width: 100%; */
}

.call-heading {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  margin-left: 60px;
  padding-top: 60px;
}

.call-btn {
  border-radius: 5px;
  background: #FFF;
  padding: 15px;
  color: #F15B22;
  margin-left: 60px;
  margin-top: 24px;
  border: none;
}

/*footer part css*/
.footer-part {
  display: flex;
  justify-content: space-between;
  background: #151414;
}

.footer-colum {
  color: white;
  padding: 130px 0 130px 230px;
}

.footer-heading {
  font-size: 45px;
  font-weight: 700;
}

.footer-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 24px 0;
}

.footer-email, .footer-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#footer-call{
  margin: 16px 0 30px 0;
}
.footer-icon img{
  padding: 10px;
}
.footer-colum-2{
  padding: 130px 230px 330px 0;
  color: white;
}
.header-form input{
  padding: 10px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #151414;
  color: white;
}
.footer-button{
  padding: 10px;
  background-color: white;
  font-size: 20px;
  color: #F15B22;
  border-radius: 5px;
  margin-top: 16px;
}